<section>
  <div class="heading">
    <h1>Welcome to <span>iPay</span></h1>
  </div>
  <form (submit)="register()">
    <div>
      <label>Legal Names</label>
      <input type="text" [(ngModel)]="name" name="name"/>
    </div>
    <div>
      <label>ID Number</label>
      <input type="text" [(ngModel)]="id" name="id"/>
    </div>
    <div>
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email"/>
    </div>
    <div>
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password"/>
    </div>
    <div>
      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="rePassword" name="rePassword"/>
    </div>
    <div>
      <button class="submitButton1">Open Account</button>
    </div>
  </form>
</section>
