<section>
  <div class="heading">
    <h1>Welcome to <span>iPay</span></h1>
  </div>
  <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
    <div>
      <label>Legal Names</label>
      <input formControlName="name" required type="text"/>
      <div
        *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
        <div *ngIf="registerForm.get('name')?.errors?.['required']">Name is required</div>
      </div>
    </div>
    <div>
      <label>ID Number</label>
      <input formControlName="id" maxlength="10" minlength="10" required type="text"/>
      <div
        *ngIf="registerForm.get('id')?.invalid && (registerForm.get('id')?.dirty || registerForm.get('id')?.touched)">
        <div *ngIf="registerForm.get('id')?.errors?.['required']">ID Number is required</div>
        <div *ngIf="registerForm.get('id')?.errors?.['idLength']">ID Number must be 10 characters long</div>
      </div>
    </div>
    <div>
      <label>Email</label>
      <input formControlName="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z]{2,}" required
             type="email"/>
      <div
        *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</div>
        <div *ngIf="registerForm.get('email')?.errors?.['invalidEmail']">Invalid email format</div>
      </div>
    </div>
    <div>
      <label>Password</label>
      <input formControlName="password" minlength="6" required type="password"/>
      <div
        *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
        <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long
        </div>
      </div>
    </div>
    <div>
      <label>Confirm Password</label>
      <input formControlName="rePassword" required type="password"/>
      <div
        *ngIf="registerForm.get('rePassword')?.invalid && (registerForm.get('rePassword')?.dirty || registerForm.get('rePassword')?.touched)">
        <div *ngIf="registerForm.get('rePassword')?.errors?.['required']">Confirm Password is required</div>
        <div *ngIf="registerForm.get('rePassword')?.errors?.['notSame']">Passwords do not match!</div>
      </div>
    </div>
    <div>
      <button [disabled]="registerForm.invalid" class="submitButton1">Open Account</button>
    </div>
  </form>
</section>
