<section>
  <div class="info-section">
    <h1>
      THE FUTURE<br />
      OF <span>PAYMENTS</span>
    </h1>
    <p>
      Your money, your way. We believe your finances should be as unique as you
      are. That's why we offer unparalleled flexibility, cutting-edge tools, and
      unbeatable rates so you can manage, spend, and grow your money on your own
      terms.
    </p>
    <a class="button1" routerLink="/register">Open an account</a>
  </div>
  <div class="vector-section">
    <img src="../../assets/7200914_30717.svg" />
  </div>
</section>
