@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::ng-deep * {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

 ::ng-deep .button1 {
    text-decoration: none;
    color: black;
    border: solid 0.2vw black;
    width: fit-content;
    transition: 300ms ease-in-out;
    font-size: 1vw;
}

::ng-deep .button1:hover {
    border: solid 0.2vw #6097D0;
    color: #6097D0;
}

::ng-deep .submitButton1 {
    background-color: black;
    color: white;
    padding: 0.5vw 1vw;
    border-radius: 40px;
    font-size: 1vw;
    transition: 300ms ease-in-out;
    border: none;
    min-width: 20vw;
    min-height: 3vw;
    margin-top: 1vw;
}

::ng-deep .submitButton1:hover {
    background-color: #6097D0;
    color: white;
}