<h1 class="heading">Friends</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Friend 1</td>
          <td>friend1@example.com</td>
          <td>
            <button class="btn btn-danger">Remove Friend</button>
          </td>
        </tr>
        <tr>
          <td>Friend 2</td>
          <td>friend2@example.com</td>
          <td>
            <button class="btn btn-danger">Remove Friend</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="addForm">
        <h2>Add a Friend</h2>
        <form>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" id="email" placeholder="Enter email" type="email">
          </div>
          <button class="btn btn-primary" type="submit">Add Friend</button>
        </form>
      </div>
    </div>
  </div>
</div>
