.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 12vw;
    background-color: #6097D0;
    padding-top: 1vw;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
    transition: 200ms ease-in-out;
    text-decoration: none;
    color: black;
}

.option > svg {
    width: 2.5vw;
    padding-left: 1vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.option:hover {
    background-color: #518ac7;
}