<h1 class="heading">iPay Transaction History</h1>
<div class="container">
  <div *ngIf="!isLoaded" class="loaderContainer">
    <div class="loader">
    </div>
  </div>
  <table *ngIf="isLoaded" class="table table-striped">
    <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Amount</th>
      <th>Transaction Type</th>
      <th>Transaction Date</th>
    </tr>
    </thead>

    <tbody *ngFor="let record of transactions">
    <tr>
      <td>{{ record.id }}</td>
      <td>{{ record.currency }} {{ record.amount }}</td>
      <td>{{ record.action }}</td>
      <td>{{ record.date | date }}</td>
    </tr>
    </tbody>
  </table>
</div>
