<section>
  <h1 class="heading">iPay Balance</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>BGN</h1>
        <p>Current balance: BGN{{ BGN }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>€</h1>
        <p>Current balance: €{{ EUR }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>$</h1>
        <p>Current balance: ${{ USD }}</p>
      </div>
    </div>
  </div>
</section>
